// App colors
$appRed:#CC4241;
$textRed:#700302;
$appLightBlue:#94D4FC;
$appDarkBlue:#578BBA;

// App fonts
@font-face {
    font-family: 'Broadway';
    src: url('./fonts/BROADW.TTF');
}

@font-face {
    font-family: 'quicksand';
    src: url('./fonts/Quicksand-Medium.ttf');
}

@font-face {
    font-family: 'playfair';
    src: url('./fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

